<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <!-- adding jquery cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="/profile_page/button_style.css">
      <link rel="stylesheet" href="/profile_page/reward_button.css">
      <link rel="stylesheet" href="/profile_page/reward_button1.css">
    <link rel="stylesheet" href="/profile_page/profile.css">
      <link rel="stylesheet" href="/profile_page/profile_1.css">
      <link rel="stylesheet" type="text/css" href="/profile_page/style.css"/>
      <link rel="stylesheet" type="text/css" href="/profile_page/popup.css"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>Hello, world!</title>
  </head>
  <body class="profile-page sidebar-collapse">
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    


      
        <div class="container">
          <div class="navbar-translate">
          <h3>Glorify - Work Culture Glorified</h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">

              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <i class="material-icons">apps</i> Components
                </a>
                <div class="dropdown-menu dropdown-with-icons">
                  <a href="../index.html" class="dropdown-item">
                    <i class="material-icons">layers</i> All Components
                  </a>
                  <a href="https://demos.creative-tim.com/material-kit/docs/2.0/getting-started/introduction.html" class="dropdown-item">
                    <i class="material-icons">content_paste</i> Documentation
                  </a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
                  <i class="material-icons">cloud_download</i> Download
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank" data-original-title="Follow us on Twitter">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank" data-original-title="Like us on Facebook">
                  <i class="fa fa-facebook-square"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank" data-original-title="Follow us on Instagram">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

                      <div class="follow" style="left:70%;z-index:20; margin-top:20px;">
                        <a href="/post">
                              <button type="button" class="btn btn-primary" style="margin-left:60px; border-radius:10px">Go to Posts</button>
                       </a>

                    </div>
      <div class="page-header header-filter" data-parallax="true" style="background-image:url('/profile_page/back.jpg');"></div>
      <div class="main main-raised">
        <div class="profile-content">
          <div class="container">
            <div class="row">

              <div class="col-md-6 ml-auto mr-auto">
                <div class="profile">
                  <div class="avatar">
                    <img src="/profile_page/boy1.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                  </div>

                  <div class="name">
                    <h3 class="title">{{Username}}</h3>
                    <h6>{{Designation}}</h6>

                      <!--Adding form thing!!-->
                    <div id="testbutton" onclick="openForm()"></div>
                    <div class="form-popup" id="myForm">
                   <form action="/reward" class="form-container">
                     <input type="hidden" name="usrid" value="{{usrid}}" />

            <h5><i>Select Credits</i></h5>
           <input type="radio" id="five" name="credits" value="5">
           <label for="five"><i class="fa fa-usd" aria-hidden="true" style="color:#99BB6B"></i> 5 Credits</label>
            &nbsp
           <input type="radio" id="ten" name="credits" value="10">
           <label for="ten"><i class="fa fa-usd" aria-hidden="true" style="color:#99BB6B"></i> 10 Credits</label>
            <br/>
           <input type="radio" id="twenty" name="credits" value="20">
           <label for="twenty"><i class="fa fa-usd" aria-hidden="true" style="color:#99BB6B"></i> 20 Credits</label>
           &nbsp
          <input type="radio" id="forty" name="credits" value="40">
          <label for="forty"><i class="fa fa-usd" aria-hidden="true" style="color:#99BB6B"></i> 40 Credits</label>

           <br>

           <br>
           <h5><i>Select Badge </i></h5>
           <input type="radio" id="badge1" name="badge" value="1">
           <label for="badge1"><i class="fas fa-certificate" style="color:#FC9820" ></i>  Badge-1</label>
           &nbsp
           <input type="radio" id="badge2" name="badge" value="2">
           <label for="badge2"><i class="fas fa-medal" style="color:#FC9820"></i>  Badge-2</label>
            <br>

           <input type="radio" id="badge3" name="badge" value="3">
           <label for="badge3"><i class="fas fa-award" style="color:#FC9820"></i>  Badge-3</label>
            &nbsp
           <input type="radio" id="badge4" name="badge" value="4">
           <label for="badge3"><i class="fas fa-crown" style="color:#FC9820"></i>  Badge-4</label>
           <br><br>
        <button type="submit" class="btn" style="width:100px; height:50px">GLORIFY</button>
        <button type="button" class="btn cancel" onclick="closeForm()" style="width:100px;height:50px">Close</button>
         </form>
          </div>

                 <!--Form thing over-->

                  </div>
                </div>

              </div>
            </div>
            <br>
            <div class="description text-center" style="border:10px;border-style: ridge;">
              <br>
            <h5><i class="fas fa-coins" style="color:orange"></i> Reward Basket credits :<b> {{rewardBasket}} </b></h5>
                 <h5><i class="fas fa-coins" style="color:orange"></i> Giveaway Basket credits : <b>{{giveawayBasket}}</b></h5><br>
              <h5> <i class="fas fa-trophy" style="color:orange"></i> Badges Basket:</h5> <ol style="list-style-type: none;"> <li><i class="fas fa-certificate" style="color:#E155FD "></i><b> Hard Working:  </b> {{badgesBasket.badge1}}  </li> <li> <i class="fas fa-certificate" style="color:#E155FD "></i> <b> Achiever  </b> {{badgesBasket.badge2}}  </li><li>   <i class="fas fa-certificate" style="color:#E155FD "></i>: <b> Punctual  </b> {{badgesBasket.badge3}}   </li><li>  <i class="fas fa-certificate" style="color:#E155FD "></i>: <b> Team Leader  </b>{{badgesBasket.badge4}} </li></ol>
              <h5><i class="fas fa-trophy" style="color:orange"></i> Give Away Badge Basket: </h5> <ol style="list-style-type: none;"> <li><i class="fas fa-certificate" style="color:#E155FD "></i>: <b> Hard Working:  </b>{{givebadgeBasket.badge1}}  </li><li> <i class="fas fa-certificate" style="color:#E155FD "></i><b> Achiever  </b> {{givebadgeBasket.badge2}}  </li><li>   <i class="fas fa-certificate" style="color:#E155FD "></i>  <b> Punctual  </b> {{givebadgeBasket.badge3}}   </li><li>  <i class="fas fa-certificate" style="color:#E155FD "></i> <b> Team Leader  </b> {{givebadgeBasket.badge4}} </li></ol>
            </div>
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto">
                <div class="profile-tabs">
                  <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" href="#work" role="tab" data-toggle="tab">
                        <i class="material-icons">palette</i>To Do
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#studio" role="tab" data-toggle="tab">
                        <i class="material-icons">camera</i> Working
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                        <i class="material-icons">favorite</i>Done
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-content tab-space">
              <div class="tab-pane work active show" id="work">
                <div class="row">
                  <div class="col-md-7 ml-auto mr-auto ">


  <!--*************************-->

  <div style"width:200px;float:left;text-align:left">

  <br/>
    <div class="main-block">
         <h1>Project Updates</h1>
         <form action="post/add?usrid={{usrid}}" method="post">
           <label id="icon" for="name"><i class="far fa-edit"></i></label>
           <input type="text" name="name" id="name" placeholder="ToDo" autocomplete="off" maxlength="100"/>
           <div class="btn-block">
             <button type="submit" href="/" id ="create">Create</button>
           </div>
         </form>
       </div>

</div>
 <br/>
<div style"width:1000px;float:right;">
  <section class="timeline">
    <ul>
      {{#each todo}}
      <li>
        <div>
            <time>{{this.date}}  {{this.month}}</time>
          <div class="discovery">
            <p>
              <b>Assigned By:-</b><a href="/profile/{{this.assigned_by}}">{{this.assigned_by_name}}</a>
            </p>
          <p>
          <form  method="post" action="post/working?initial=todo&obj={{this._id}}&usrid={{../usrid}}"><h4><button title="Push to Working" style="padding:0px; margin: 0px;"><i class="fa fa-briefcase" aria-hidden="true" style="color: orange"></i></button></h4> </form>
        <form method="post" action="post/done?initial=todo&obj={{this._id}}&usrid={{../usrid}}"><h4><button title="Push to Done" style="padding:0px; margin: 0px;"><i class="fa fa-check-circle" aria-hidden="true" style="color: green "></i></i></button></h4></form>
           </p>
          </div>
          <div class="scientist">
            <p><b>{{this.work}}</b></p>
            <p>
           <form method="post" action ="post/add?initial=todo&obj={{this._id}}&usrid={{../usrid}}"><button title="Delete" style="padding:0px; margin: 0px;"><i class="fa fa-trash" aria-hidden="true" style="color: red"></i></button></form>
          </p>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </section>
</div>
<!--****************************************-->
</div>
</div>
</div>





              <!--Studio part--->
              <div class="tab-pane connections" id="studio">
                <div class="row">
                  <div class="col-md-7 ml-auto mr-auto ">


                               <!--*************************-->
                   <div class="main-block">
                     <h1>Project Updates</h1>
                          <form action="post/working?usrid={{usrid}}" method="post">
                            <label id="icon" for="name"><i class="fas fa-plus-circle"></i></label>
                            <input type="text" name="name" id="name" placeholder="Working"  autocomplete="off" />
                            <div class="btn-block">
                              <button type="submit" href="/" id="add" >Add</button>
                            </div>
                          </form>
                   </div>
   <br/>
                   <div style"width:1000px;float:right">
                     <section class="timeline">
                       <ul>
                         {{#each working}}
                         <li>
                           <div>
                               <time>{{this.date}}  {{this.month}}</time>
                             <div class="discovery">
                               <p>
                                  <b>Assigned By:-</b><a href="/profile/{{this.assigned_by}}">{{this.assigned_by_name}}</a>
                               </p>
                             <p>

                           <form method="post" action="post/done?initial=working&obj={{this._id}}&usrid={{../usrid}}"><h4><button title="Push to Done" style="padding:0px; margin: 0px;"><i class="fa fa-check-circle" aria-hidden="true" style="color: green "></i></i></button></h4></form>
                            <form  method="post" action="post/add?initial=working&obj={{this._id}}&usrid={{../usrid}}"><h4><button title="Push to To Do" style="padding:0px; margin: 0px;"><i class="fa fa-edit" style="color:purple"></i></button></h4> </form>
                            </p>
                             </div>
                             <div class="scientist">
                               <p><b>{{this.work}}</b></p>
                               <p>
                            <form method="post" action="post/working?initial=working&obj={{this._id}}&usrid={{../usrid}}"><button title="Delete" style="padding:0px; margin: 0px;"><i class="fa fa-trash" aria-hidden="true" style="color: red"></i></button></form>
                             </p>
                             </div>
                           </div>
                         </li>
                         {{/each}}
                       </ul>
                     </section>
                   </div>

                </div>
              </div>
            </div>





              <div class="tab-pane text-center gallery" id="favorite">
                <div class="row">
                  <div class="col-md-7 ml-auto mr-auto ">



                               <!--*************************-->
                   <div class="main-block">
                     <h1>Project Updates</h1>
                     <form action="post/done?usrid={{usrid}}" method="post"  autocomplete="off" >
                     <label id="icon" for="name"><i class="fas fa-chess-queen"></i></label>
                     <input type="text" name="name" placeholder="Done"/>
                     <div class="btn-block">
                       <button type="submit" href="/" id="done">Complete</button>
                     </div>
                   </form>
                   </div>

                    <br/>
                   <div style"width:1000px;float:right">
                     <section class="timeline">
                       <ul>
                         {{#each done}}
                         <li>
                           <div>
                               <time>{{this.date}}  {{this.month}}</time>
                             <div class="discovery">
                               <p>
                                <b>Assigned By:-</b><a href="/profile/{{this.assigned_by}}">{{this.assigned_by_name}}</a>
                               </p>
                             <p>
                             <form  method="post" action="post/working?initial=done&obj={{this._id}}&usrid={{../usrid}}"><h4><button title="Push to Working" style="padding:0px; margin: 0px;"><i class="fa fa-briefcase" aria-hidden="true" style="color: orange"></i></button></h4> </form>
                           <form method="post" action="post/add?initial=done&obj={{this._id}}&usrid={{../usrid}}"><h4><button title="Push to To Do" style="padding:0px; margin: 0px;"><i class="fa fa-edit" style="color:purple"></i></button></h4></form>
                              </p>
                             </div>
                             <div class="scientist">
                               <p><b>{{this.work}}</b></p>
                               <p>
                             <form method="post" action="post/done?initial=done&obj={{this._id}}&usrid={{../usrid}}"><button title="Delete" style="padding:0px; margin: 0px;"><i class="fa fa-trash" aria-hidden="true" style="color: red"></i></button></form>
                             <form method="post" action="post/sendmail?obj={{this._id}}&usrid={{../usrid}}"><button title="Notify Work Done" style="padding:0px; margin: 0px;"><i class="fas fa-envelope" style="color:blue"></i></button></form>
                             </p>
                             </div>
                           </div>
                         </li>
                         {{/each}}
                       </ul>
                     </section>
                   </div>
                </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer text-center">
      </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
      <script src="/profile_page/try.js"></script>
        <script src="/profile_page/popup.js"></script>
        <script src="/profile_page/popup1.js"></script>
    </body>
</html>
